<nav id="navbar">
    <div class="navbar-container">
        <img src="/img/logo.png" alt="" class="logo">
        <ul class="navbar-items">
            <li><a href="preimium.html" class="navbar-item">PM - PLANO DE MANUTENÇÃO</a></li>
            <li><a href="preimium.html" class="navbar-item">Bem Vindo(a)</a> </li>

        </ul>
        <div class="menu-mobile">
            <img src="/img/menu.png" alt="menu" />
        </div>
    </div>

    <div class="navbar-containerHome">
        <img src="/img/logo.png" alt="" class="logo">
        <ul class="navbar-items">
            <li><a href="/admin" class="navbar-item">Home</a></li>
            <li><a href="/perfil" class="navbar-item">Pagina Impressão</a> </li>
            <li><a href="/carteira" class="navbar-item">Carteira</a> </li>
            <li><a href="/login" class="navbar-item">Sair</a> </li>

        </ul>

    </div>

</nav>

<div id="showcase">
    <div id="tabela_defeito">

        <div class="tabela_defeito">

            <h4>Cartaeira</h4>
            <p>Poda Arvore BT</p>
            <p>Poda Arvore AT</p>
            <p>Poda Cico 2</p>
            <p>Cruzeta MAdeira</p>


        </div>

        <div class="filtro">

            <div>
                <h4>Filtro Atividades</h4>
                <div class="tipo-PM">

                    <ul class="navbar-tipo">
                        <li><a href="" class="navbar-item">Estrutural</a></li>
                        <li><a href="" class="navbar-item">Termografico</a> </li>
                        <li><a href="" class="navbar-item">Vegetação</a> </li>

                    </ul>
                </div>

                <div class="seletores">

                    <form class="seletores-A">

                        <div id="seletores">

                            <label for="UTD">UTD</label>

                            <select name="UTD" id="UTD">
                                <option *ngFor="let p of postagens" selected disabled>{{ p.UTD }}</option>

                            </select>
                        </div>

                        <div id="seletores">
                            <label for="ativo">Ativo</label>

                            <select name="ativo" id="ativo">
                                <option selected disabled>Ativo</option>
                                <option value="IRX">IRX</option>
                                <option value="JPP">JPP</option>
                                <option value="IAA">IAA</option>
                            </select>
                        </div>
                        <div id="seletores">
                            <label for="chave">Chave</label>
                            <select name="chave" id="chave">
                                <option selected disabled>Chave</option>
                                <option value="H44556">H44556</option>

                            </select>
                        </div>
                        <div id="seletores">
                            <label for="Seguimento">Seguimento</label>
                            <select name="Seguimento" id="Seguimento">
                                <option selected disabled>Seguimento</option>
                                <option value="H44556">H44556</option>

                            </select>
                        </div>

                    </form>
                    <div class="button">
                        <button type="submit" value="Salvar">Salvar</button>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div id="table">

        <table class="table">
            <thead class="table-hover">
                <tr>
                    <th>OS</th>
                    <th>UTD/EPS</th>
                    <th>Alimentador</th>
                    <th>Trecho</th>
                    <th>Poste</th>
                    <th>Defeito</th>
                    <th>Equipe Sujerida</th>
                    <th>Chave</th>
                    <th>Turma Atendimento</th>
                    <th>Data Envio</th>
                    <th>Impedimento</th>
                    <th></th>
                    <th>Finalizar Nota</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of postagens">


                    <td>{{p.NUM_CONSEQUENCIA}}</td>
                    <td>{{p.UTD}}</td>
                    <td>{{p.DESC_INST_ATIVO_INSP}}</td>
                    <td>X {{p.TRECHO}}</td>
                    <td>{{p.DESC_LOCAL_ATIVO_INSP}}</td>
                    <td>{{ p.DEFEITO}}</td>
                    <td>{{ p.EQUIPE_SUGERIDA}}</td>
                    <td>{{p.CHAVE_DIRECIONADORA}}</td>
                    <td>{{ p.EQUIPE_SUGERIDA}}</td>
                    <td>{{ p.DT_ENVIO}}</td>
                    <td>{{ p.IMPEDIMENTO_CAMPO}}</td>
                    <td></td>
                    <td></td>
                </tr>

                <!-- area em branco de Observacoes. -->

        </table>
    </div>





</div>