<nav id="navbar">
    <div class="navbar-container">
        <img src="/img/logo.png" alt="" class="logo">
        <ul class="navbar-items">
            <li><a href="preimium.html" class="navbar-item">PM - PLANO DE MANUTENÇÃO</a></li>
        </ul>
        <div class="menu-mobile">
            <img src="/img/menu.png" alt="menu" />
        </div>
    </div>

</nav>

<div id="showcase">

    <form *ngIf="mostrarDiv1" Class="div1" [formGroup]="formulario" class="menu" (submit)="autenticar()" action="/login"
        method="post">

        <label for="usuario">Usuário</label>

        <input placeholder="Informe seu e-mail" formControlName="email" type="email" name="email" id="usuario"
            required />

        <P *ngIf="formulario.get('email')?.hasError('required')">Por favor informe o email.</P>
        <P *ngIf="formulario.get('email')?.hasError('email')">Informe o email valido.</P>

        <label for="senha">Senha</label>

        <input placeholder="Informe sua senha" formControlName="senha" type="password" name="senha" id="senha"
            required />
        <div id="solicitar">
            <li><a (click)=" alternarDivs()
                " class="navbar-item">Solicitar Cadastro</a> </li>
        </div>
        <button type="submit" value="Entrar">Entrar</button>

    </form>


    <form *ngIf="!mostrarDiv1" Class="div2" [formGroup]="formularioSolicitarCadastro" class="solicitarCadastro">
        <h5>Solicitar Cadastro</h5>

        <div class="solicitarCadastro"></div>

        <p>Nome: <input type="text" formControlName="nome" placeholder="Informe seu nome"></p>
        <p>E-mail: <input type="text" formControlName="email" placeholder="Informe seu e-mail"></p>
        <p>Usuario: <input type="text" formControlName="Usuario" placeholder="Informe seu usuario"></p>
        <p>Empresa: <input type="text" formControlName="Empresa" placeholder="Informe a empresa"></p>
        <p>Matricula: <input type="text" formControlName="matricula" placeholder="Informe sua matricula"></p>
        <p>senha: <input type="text" formControlName="senha" placeholder="Informe sua senha"></p>
        <p><input type="submit" formControlName="Enviar" (click)="cadastrar(); alternarDivs()"></p>

    </form>

</div>


<footer id="footer">
    <div class="footer-content">
        <img src="img/logo.png" alt="" class="logo">
        <ul class="footer-menu">
            <p>Empresa</p>
            <li class="footer-menu-item">Sobre</li>
            <li class="footer-menu-item">Empregos</li>
            <li class="footer-menu-item"></li>

        </ul>
        <ul class="footer-menu">
            <p>Comunidades</p>
            <li class="footer-menu-item">Missao</li>
            <li class="footer-menu-item">Sustentabilidade</li>
            <li class="footer-menu-item">Investidores</li>
            <li class="footer-menu-item">Fornecedores</li>

        </ul>
        <ul class="footer-menu">
            <p>links úteis</p>
            <li class="footer-menu-item">Ajuda</li>
            <li class="footer-menu-item">-------</li>
            <li class="footer-menu-item">Aplicativos móvel grátis</li>

        </ul>

        <div class="socials">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-facebook-f"></i>
        </div>
    </div>

</footer>