<nav id="navbar">
    <div class="navbar-container">
        <img src="/img/logo.png" alt="" class="logo">
        <ul class="navbar-items">
            <li><a href="preimium.html" class="navbar-item">PM - PLANO DE MANUTENÇÃO</a></li>
            <li><a href="preimium.html" class="navbar-item">Bem Vindo(a)</a> </li>

        </ul>
        <div class="menu-mobile">
            <img src="/img/menu.png" alt="menu" />
        </div>
    </div>

    <div class="navbar-containerHome">
        <img src="/img/logo.png" alt="" class="logo">
        <ul class="navbar-items">
            <li><a href="/admin" class="navbar-item">Home</a></li>
            <li><a href="/perfil" class="navbar-item">Pagina Impressão</a> </li>
            <li><a href="/carteira" class="navbar-item">Carteira</a> </li>
            <li><a href="/login" class="navbar-item">Sair</a> </li>
        </ul>

    </div>

</nav>

<div id="showcase">
    <h2>Solicitações pendentes de aprovação.</h2>

    <table class="table">

        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Usuario</th>
                <th>Empresa</th>
                <th>Matricula</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let a of solicitarCadastro">
                <td>{{a.nome}}</td>
                <td>{{a.email}}</td>
                <td>{{a.Usuario}}</td>
                <td>{{a.Empresa}}</td>
                <td>{{a.matricula}}</td>
                <td><button>Aprovar</button><button (click)="remover(a.id || 0)">Remover</button></td>

            </tr>
        </tbody>
    </table>

</div>