<nav id="navbar">
    <div class="navbar-container">
        <img src="/img/logo.png" alt="" class="logo">
        <ul class="navbar-items">
            <li><a href="preimium.html" class="navbar-item">PM - PLANO DE MANUTENÇÃO</a></li>
            <li><a href="preimium.html" class="navbar-item">Bem Vindo(a)</a> </li>

        </ul>
        <div class="menu-mobile">
            <img src="/img/menu.png" alt="menu" />
        </div>
    </div>

    <div class="navbar-containerHome">
        <img src="/img/logo.png" alt="" class="logo">
        <ul class="navbar-items">
            <li><a href="/admin" class="navbar-item">Home</a></li>
            <li><a href="/perfil" class="navbar-item">Pagina Impressão</a> </li>
            <li><a href="/carteira" class="navbar-item">Carteira</a> </li>
            <li><a href="/login" class="navbar-item">Sair</a> </li>
        </ul>

    </div>

</nav>

<div id="showcase">


</div>